<%= form_for(@odpowiedz) do |f| %>
  <% if @odpowiedz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odpowiedz.errors.count, "error") %> prohibited this odpowiedz from being saved:</h2>

      <ul>
      <% @odpowiedz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
