<%= form_for(@pytany) do |f| %>
  <% if @pytany.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pytany.errors.count, "error") %> prohibited this pytany from being saved:</h2>

      <ul>
      <% @pytany.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
