<h1>Listing podejscies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @podejscies.each do |podejscy| %>
  <tr>
    <td><%= link_to 'Show', podejscy %></td>
    <td><%= link_to 'Edit', edit_podejscy_path(podejscy) %></td>
    <td><%= link_to 'Destroy', podejscy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Podejscie', new_podejscy_path %>
