<!DOCTYPE html>
<html>
<head>
<h1> aaaaaaaaaaaaa</h1>
  <title>ZWSystemTestow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
